@model ApplicationUser

<div style="height:150px;"></div>
<div class="container mt-5">
    <h2>Account Information</h2>

    <dl class="row">
        <dt class="col-sm-3">Identification Number:</dt>
        <dd class="col-sm-9">@Model.IdentificationNumber</dd>

        <dt class="col-sm-3">First Name:</dt>
        <dd class="col-sm-9">@Model.FirstName</dd>

        <dt class="col-sm-3">Surname:</dt>
        <dd class="col-sm-9">@Model.Lastname</dd>

        <dt class="col-sm-3">Email Address:</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Registration Date:</dt>
        <dd class="col-sm-9">@Model.RegistrationDate.ToShortDateString()</dd>
    </dl>  
    <div class="row mt-4">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <a asp-controller="Account" asp-action="Edit" class="btn btn-primary">Edit</a>
        </div>
    </div>
</div>

<div style="height:150px;"></div>